<h1>Author index</h1>
<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Homepage</th>
	</tr>
	<% @authors.each do |author| %>
		<tr>
			<td id='id'><%= author.id %></td>
			<td id='name'><%= author.name %></td>
			<td id='homepage'><%= author.homepage %></td>
		</tr>
	<% end %>
</table>
<%= link_to("Add author", new_author_path) %>